# Loại bỏ các file tạm của Python

# Loại bỏ các file tạm của Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# IDE
.idea/
.vscode/

# Parse Cache
.parse_cache.json
sang/.parse_cache.json
data/.parse_cache.json

# Spark
spark_checkpoints/

# Jupyter Book Build
docs/jupyter_book/_build/

# Scratch Scripts
prep_book.py
