# Loại bỏ các file tạm của Python

# Loại bỏ các file tạm của Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/

# IDE
.idea/
.vscode/
